# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
/.venv/

# Log files - Optional, but good practice to ignore
# user-specific generated data.
/logs/

# IDE / Editor specific
.vscode/
.idea/